.portfolio-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
.title-img{
    height: 700px;
    width: 100%;
}
.sub-title{
    font-weight: 600;
}
h2{
    margin: 50px 30px 10px 30px;
}
.sub-section{
    width: 100%;
}
.wireframe-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.mockup-section{
    text-align: center;
    list-style-position: inside;
}
.responsive-section{
    text-align: center;
}

@media (max-width: 480px) {
    img{
        width: 100%;
    }
    .title-img{
        height: 100%;
    }
    .portfolio-card{
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }
    .mockup-list{
        padding: 0%;
    }
    .backtoTop-btn{
        margin-bottom: 200px;
    }

}