html, body, #root {
  height: 100%;
}
.App {
height: 100%;
}
.icon
{
  height: 40px;
  width: 40px;
  margin: 5px;
}
.navLinks{
  color: white !important;
}
.navLinks:hover{
  color: 008CBA !important;
}
